.accountPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.subHeader {
  text-align: center;
}

.memberProfiles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;

  max-width: 80vw;
  height: 100%;
}
