.ing-gen {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.ing-form {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: left;
}