.recipePage {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

/* .savedContainer {
  text-align: center;
  display: inherit;
  flex-direction: column;
} */