<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Recipe</title>
</head>
<body>
  <form action="submitrecipe" method="post">
    <label for="recipe_name">Recipe Name</label>
    <input type="text" id="recipe_name" name="recipe_name" required>

    <label for="ingredients">Ingredients</label>
    <input type="text" id="ingredients" name="ingredients" required>

    <label for="steps">Steps</label>
    <input type="text" id="steps" name="steps" required>

    <input type="submit" value="Add Recipe">
  </form>
</body>
</html>