.homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
}

.homeHeader {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;

  text-align: center;
  color: #43af2a;
}

.recipeSearch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;

  width: 100%;
}

#search_string {
  min-width: 50vw;
}

#searchIcon {
  margin-top: 2.5vh;
}
